# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
dist/
*.egg-info/


# Env
.env


# Streamlit
.streamlit/secrets.toml

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Pyright
pyrightconfig.json
