# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
dist/
*.egg-info/


# Env
.env


# Streamlit
.streamlit/secrets.toml

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Ruff
.ruff_cache/

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Pyright
pyrightconfig.json

# Data
data/parquet/
data/dev/*.parquet


# Frontend build artifacts
client/frontend/.next/
client/frontend/node_modules/
client/frontend/out/
